.Skills {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Inconsolata";
  margin-bottom: 10px;
}
.Skills > h2 {
  color: #ff8303;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 50px;
}
.container__Skills {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Skill {
  margin: 0px 10px 30px 10px;
  transition: all 1.5s ease-in-out;
}
.Skill:hover > h2 {
  color: #ff8303;
}
.Skill > h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #f0e3ca;
  font-weight: 400px;
}
.Skill > img {
  width: 100px;
}
@media screen and (max-width: 396px) {
  .container__Skills {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .Skills {
    height: 100%;
    margin-bottom: 60px;
  }
}
